<header class="hero">
  <nav
    class="navbar navbar-inverse navbar-expand-md d-flex justify-content-around"
  >
    <a class="navbar-brand" href="/"><h1 class="app-title">LIVE HIRE</h1></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarItems"
      aria-controls="navbarItems"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon bi bi-list"><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          ></path>
        </svg></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarItems">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/Lyric-search">Lyric Search</a>
        {{! <a class="nav-item nav-link active" href="/">Home</a> }}
        {{#if loggedIn}}
        {{! <a href="/findABand">Find a Band</a> }}
        <a class="nav-item nav-link" href="/view-bands-tags">Browse Bands</a>
        {{! <a class="nav-item nav-link" href="/band-landing">Band Page</a> }}
        <a class="nav-item nav-link" href="#" id="logout-link">Logout</a>
        {{else}}
        <a class="nav-item nav-link" href="/login">Login</a>
        {{/if}}
      </div>
    </div>
  </nav>

</header>