<nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/Lyric-search">Lyric Search</a></li>
      <li class="li-inline nav-item"><a href="/findABand">Find a Band</a></li>
      <li class="li-inline nav-item"><a href="/view-bands-tags">Browse Bands</a></li>
      <li class="li-inline nav-item"><a href="/bandUpdate">Update a Band</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/">LIVE HIRE</a></h1>
  </header>