
<div class="band-card container">
  <div class="band-card-header">
   <h1> {{ band.bandname }} </h1>
  </div>
  <div class="card-body">
     <img src="{{band.imagePath}}" alt="bad band photo">
    <p>
      Book us!
    </p>
    <p>
      {{ band.email }}
    </p>
  </div>
</div>

