<div class="row">
  <section class="col">
    <a href="">I am an Event Coordinator</a>

    <a href="">I am band</a>

  </section>

  <section class="col">
    <h3>Band Search</h3>
    <form class="bandSearch-form">
      <div>
        <label for="username-input-login">Genre:</label>
        <input type="text" id="username-input-login" />
      </div>
      <div>
        <label for="password-input-login">Location</label>
        <input type="password" id="password-input-login" />
      </div>
      <div>
        <button type="submit">Search</button>
      </div>
    </form>
  </section>
</div>

<script src="/js/band-routes.js"></script>