{{!-- <style>
.band-card {
    color: rgb(223, 219, 219);
    text-shadow: 1px 1px 2px black;
    width: 40%;
    height: 400px;
    background-color: rgb(206, 206, 209);
  }
  .band-card-header h1 {
    color: rgb(206, 13, 13);
    text-shadow: 1px 1px 2px black;
    border-bottom: 1px solid black;
  }
  </style> --}}
<div class="container band-card">
  <section class="col">
    <h1>Welcome to Live Hire!</h1>
    <h3>Live Hire is a full service entertainment securing app that connects event holders to live performers! </h3>
    <p>Are you an event coordinator looking for a specific kind of performer for your event? Using our simple search tools will 
      help you narrow your search and connect you with the right act for your event!
    </p>
    <p> Are you a performer wanting to expand your industry network? Sign up and add your profile
      for coordinators to search!</p>
    <a href="/login"><h3>Login/Sign up here!</h3></a>

  </section>
</div>

<script src=""></script>