<div class="row">
    <section class="col">
        <form class="login-form">
            <div>
                <label for="email-login">email:</label>
                <input type="text" id="email-login" value="email address" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" value="current password" />
            </div>
            <div>
                <button type="submit">login</button>
            </div>
        </form>
    </section>
</div>

<div>
    <form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <p>Select an account type</p>
        <input type="radio" id="band" name="fav_language" value="band">
        <label for="band">Band</label><br>

        <input type="radio" id="coordinator" name="fav_language" value="coordinator" checked>
        <label for="coordinator">coordinator</label><br>        
    </div>
    <div id="coordinator-signup">
        <div>
            <label for="organization">organization:</label>
            <input type="text" id="organization" />
        </div>
    </div>
    <div class="invisible" id="band-signup">
        <div>
            <label for="bandName">Band Name:</label>
            <input type="text" id="bandName" />
        </div>
        <div>
            <label for="bandEmail">Band email:</label>
            <input type="text" id="bandEmail" />
        </div>
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
    </form>
</div>

<script src="/js/login.js"></script>