<div class="row">
    <form class="col lyric-form">
        <div>
            <label for="song-title">Song Title</label>
            <input type="text" id="song-title" />
        </div>
        <div>
            <label for="artist-name">Artist Name:</label>
            <input type="text" id="artist-name" />
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <section class="col">
        <p></p>
    </section>
</div>

<script src="/js/lyric-search.js"></script>